{% extends "base_generic.html" %}

{% block content %}
  <h1>Главная страница</h1>

  {% if user.is_authenticated %}
  <h3>Добро пожаловать! {{user.first_name}}</h3>
  <p>Список 4-х последних выполненных заявок:</p>
  <ul>
    <li>Временная метка:</li>
    <li>Название:</li>
    <li>Категория заявки:</li>
    <li>Фотография:</li>
  </ul>
  <p>Количество заявок находящихся в работе: 10</p>
  {% else %}
  <h3>Добро пожаловать!</h3>
  <p>Для продолжения <a href="{% url 'login' %}">войдите</a> или <a href="">зарегистрируйтесь</a></p>
  {% endif %}
{% endblock %}